@model PaginacionRespuesta
@{
    var plantillaLink = string.Concat(Model.BaseUrl, "?pagina={0}&recordsPorPagina");
    var actBotonAnt = Model.Pagina > 1;
    var actBotonSig = Model.Pagina < Model.CantidadTotalDePaginas;
}

<nav>
    <ul class="pagination">
        @if (actBotonAnt)
        {
            <li class="page-item @(actBotonAnt ? null: "disable")">
                <a class="page-link" href="@string.Format(plantillaLink, Model.Pagina - 1, Model.RecordsPorPagina)">Anterior</a>
            </li>
        }
        else
        {
            <span class="page-link">Anterior</span>
        }

        @for (var pag = 1; pag <= Model.CantidadTotalDePaginas; pag++)
        {
            <li class="page-item @(pag == Model.Pagina ? "active" : null)">
                <a class="page-link" href="@string.Format(plantillaLink, pag, Model.RecordsPorPagina)">@pag</a>
            </li>
        }

        @if (actBotonSig)
        {
            <li class="page-item @(actBotonSig ? null : "disable")">
            <a class="page-link" href="@string.Format(plantillaLink, Model.Pagina + 1, Model.RecordsPorPagina)">Siguiente</a>
        </li>
        }
        else
        {
            <span class="page-link">Siguiente</span>
        }

        
    </ul>
</nav>
